.job-card {
  list-style-type: none;
  background-color: #fcf9f9;
  margin: 30px 0;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.job-headline {
  margin-bottom: 10px;
}

.job-headline-clickable {
  cursor: pointer;
  color: #0071e3;
  transition: color 0.2s ease;
}

.job-headline-clickable:hover {
  color: #005bb5;
  text-decoration: underline;
}

.options-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
