.content {
  color: var(--text-primary);
}

.headline {
  font-size: 40px;
  font-weight: 600;
}

.info {
  margin: 20px 0;
  line-height: 1.6;
}

.description {
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
}

.apply-link-container {
  margin: 20px 0;
  line-height: 1.6;
}

.apply-link {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.2s ease;
}

.apply-link:hover {
  text-decoration: underline;
}

.action-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  /* mobile */
  @media (max-width: 1024px) {
    width: 100%;
  }
}
