.content {
  color: white;
}

.headline {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.info {
  margin: 20px 0;
  line-height: 1.6;
}

.description {
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
}

.actions {
  flex-direction: row;
  align-items: flex-start;
}
